.bu:hover 
       {
         background-color: #4CAF50; /* Green */
          color: white;
        }
        div {
           margin-left: 450px;
            width: 600px;
            background-color: black
            }
            .b1
            {
                border: 2px solid black;
                background-color: black;
            }
        .button1
         {
           
             height:130px;
             width: 120px;
           
         }
         .s1
         {
             margin-top: 100px;
         }
         .d1
         {
             background-color: black
         }
         .e1
         {
             margin-left:120px;
             color: white;
         }
         .f1
         {
             margin-left: 2px;
             margin-top: 2px;
         }
         .c1
         {
             background-color: rosybrown;
             color: black;
             width: 150px;
            margin-top: 0px;
             margin-left: 0px
         }
         .p1
         {
             margin-top: 80px;
             margin-left:25px;
             color: white;
         }
         .start-button1
         {
             margin-top: 50px;
             margin-left: 80px;
         }
         .player1
         {
             margin-left: -500px;
            
         }
         .player11
         {
            color: white;
            
         }
         .player21
         {
             margin-left: 5px;
            
         }
         .player31
         {
             margin-left: 500px;
            
         }
         .left1
         {
             margin-left: -300px;
         }
         .right1
         {
             margin-left: 600px;
         }
         .high1
         {
             color:rosybrown;
             margin-left: 100px;
         }
         .color1
         {
            background-color:blueviolet;
            border: 2px;
         }